body {
  background-color: chartreuse;
}

.park-container {
  width: 100%;
  display: grid;
  grid-template-columns: 33vw 33vw 33vw;
  grid-template-rows: 200px;
  align-items: center;
  justify-items: center;
  
}

.individual-park {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  height: calc(100% - 20px);


}